.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

  width: 200px;
  height: 50px;

  padding: 0;
  border: 1px dashed #9e9c93;

  font-family: 'Alegreya', serif;
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .3em;

  color: white;
  background-color: rgba(86,83,76,.53);

  &:hover {
    color: white;
    text-decoration: none;
  }
}
