.ingredient {
  // min-height: 200px;
}

.ingredient__img {
  margin-bottom: 20px;

  box-shadow: 0 10px 10px #e7e3d3;
}

.ingredient__title {
  margin-bottom: 20px;

  font-family: Alegreya, Georgia, serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .025em;
  color: #a47d5e;
}

.ingredient__desc {
  display: none;

  font-family: "Proxima Nova", Georgia, serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: .1em;
  color: #56534c;
}


@media @sm {

  .ingredient__desc {
    display: block;
  }

}
