.main-nav__list {
  margin-bottom: 10px;

}

.main-nav__list:last-of-type {
  margin-bottom: 0;
  padding-bottom: 15px;
}

.main-nav__item {
  position: relative;

  font-family: "Alegreya", serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3em;

  & + & {
    margin-top: 10px;
  }
}

.main-nav--header {
  a {
    color: #ffffff;

    &:active {
      color: #cccccc;
    }
  }
}

.main-nav--footer {
  a {
    color: #56534c;

    &:active {
      color: #cccccc;
    }
  }
}


@media @sm {

  .main-nav__item {
    & + & {
      margin-top: 0;
    }

    & + &::before {
      content: "~";
      position: absolute;
      top: 0px;
      left: -16px;
    }
  }

.main-nav--footer {
  padding-bottom: 20px;

  .main-nav__list {
    margin-bottom: 0;
  }

  .main-nav__list:first-of-type {
    border-top: 1px solid gray;
  }

  .main-nav__list:last-of-type {
    padding-bottom: 0;

    border-bottom: 1px solid gray;
  }

  .main-nav__item {
    line-height: 50px;
  }

  .main-nav__item + .main-nav__item::before {
    left: -3px;
  }

}


@media @md {

  .main-nav {
    padding: 0;
  }

  .main-nav__list {
    margin-bottom: 0;
  }

  .main-nav--footer {
    padding-bottom: 40px;

    .main-nav__list {
      margin-bottom: 0;
    }

    .main-nav__item {
      line-height: 60px;
    }


  }

}


@media @lg {

.main-nav--header {
  .main-nav__item + .main-nav__item::before {
      left: -28px;

      display: block;
    }
  }

.main-nav--footer {
  .main-nav__list:first-of-type {
    padding-left: 10px;
    border-bottom: 1px solid gray;
  }

  .main-nav__list:last-of-type {
    border-top: 1px solid gray;
  }

    .main-nav__item {
      line-height: 70px;
    }
}

}


@media @xl {

  .main-nav__item {
    & + &::before {
      left: -43px;
    }
  }

}
