.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.slider__food {
  &:last-of-type {
    display: none;
  }

  & + & {
    margin-left: 30px;
  }
}

.slider__btn {
  width: 32px;
  height: 32px;
  padding: 0;

  background-color: transparent;
  border: 0;

  &--prev {
    margin-right: 20px;

    background-image: url("../img/arrow-left.svg");
  }

  &--next {
    margin-left: 20px;

    background-image: url("../img/arrow-right.svg");
  }
}


@media @sm {

  .slider__food {
    &:last-of-type {
      display: block;
    }
  }

}


@media @md {

  .slider {
    justify-content: space-around;
  }

  .slider__food {
    & + & {
      margin-left: 0;
    }
  }

  .slider__btn {
    &--prev {
      margin-right: 0;
    }

    &--next {
      margin-left: 0;
    }
  }

}


@media @lg {

  .slider {
    justify-content: center;
  }

  .slider__food {
    & + & {
      margin-left: 30px;
    }
  }

  .slider__btn {
    &--prev {
      margin-right: 20px;
    }

    &--next {
      margin-left: 20px;
    }
  }

}
