.time-cooked {
  &--gold {
    background-image: url("../img/time-cooked-bg@1x.jpg");
    background-size: 100% 100%;

    box-shadow: 0 16px 26px rgba(105, 80, 58, .45);
  }

  &--black {
    background-color: rgba(255, 255, 255, .8);
  }
}

.time-cooked__title {
  margin-bottom: 2px;

  font-family: Alegreya, Georgia, serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .066em;
  color: #a47d5e;
}

.time-cooked__number {
  font-family: Alegreya, Georgia, serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .066em;
  color: #dfc691;

  &--gold {
    font-size: 60px;
    line-height: 60px;
    color: #dfc691;
  }

  &--black {
    font-size: 60px;
    line-height: 60px;
    color: #56534c;
  }
}

.time-cooked__unit {
  font-family: Alegreya, Georgia, serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .066em;
  color: #979285;
}


@media @sm {

  .time-cooked__title {
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: .1em;
  }

  .time-cooked__number {
    font-size: 92px;
    line-height: 92px;
    letter-spacing: .1em;
  }

  .time-cooked__unit {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .1em;
  }

}


@media @md {

  .time-cooked__title {
    margin-bottom: 2px;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: .066em;
  }

  .time-cooked__number {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: .066em;
  }

  .time-cooked__unit {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: .066em;
  }

}


@media @lg {

  .time-cooked__title {
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: .1em;
  }

  .time-cooked__number {
    font-size: 92px;
    line-height: 92px;
    letter-spacing: .1em;
  }

  .time-cooked__unit {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .1em;
  }
}


@media @xl {

}
