.time-cooked {
  position: absolute;
  top: 0;
  right: 0;

  width: 135px;
  height: 135px;
  padding-top: 16px;

  background: #fff url("../img/time-cooked-bg@1x.jpg");
  background-size: 100% 100%;

  box-shadow: 0 16px 26px rgba(105, 80, 58, .45);
}

.time-cooked__title {
  margin-bottom: 2px;

  font-family: Alegreya, Georgia, serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .066em;
  color: #a47d5e;
}

.time-cooked__number {
  font-family: Alegreya, Georgia, serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .066em;
  color: #dfc691;
}

.time-cooked__unit {
  font-family: Alegreya, Georgia, serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: .066em;
  color: #979285;
}


@media @sm {

  .time-cooked {
    width: 200px;
    height: 200px;
    padding-top: 24px;

    box-shadow: 0 25px 54px rgba(105, 80, 58, .45);
  }

  .time-cooked__title {
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: .1em;
  }

  .time-cooked__number {
    font-size: 92px;
    line-height: 92px;
    letter-spacing: .1em;
  }

  .time-cooked__unit {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .1em;
  }

}


@media @md {

  .time-cooked {
    left: 165px;

    width: 135px;
    height: 135px;
    padding-top: 16px;

    border-bottom-left-radius: 35%;
  }

  .time-cooked__title {
    margin-bottom: 2px;

    font-size: 12px;
    line-height: 20px;
    letter-spacing: .066em;
  }

  .time-cooked__number {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: .066em;
  }

  .time-cooked__unit {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: .066em;
  }

}


@media @lg {

  .time-cooked {
    top: -45px;
    right: -45px;
    left: auto;

    width: 200px;
    height: 200px;
    padding-top: 24px;

    border-bottom-left-radius: 0;
  }

  .time-cooked__title {
    margin-bottom: 3px;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: .1em;
  }

  .time-cooked__number {
    font-size: 92px;
    line-height: 92px;
    letter-spacing: .1em;
  }

  .time-cooked__unit {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: .1em;
  }
}


@media @xl {

  .time-cooked {
    top: -45px;
    right: 70px;
  }
  
}
